<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        header {
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Meteorite Landing Page!!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for("charts") }}">Charts</a></li>
                <li><a href="{{ url_for("maps") }}">Maps</a></li>
                <li><a href="{{ url_for("heatmaps") }}">HeatMaps</a></li>

                <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>

    <section id="about">
        <h2>Meteorite</h2>
        <p>brief description .</p>
    </section>

   
</body>
</html>
